<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hitwh.gmember.mapper.StudentMapper">
    <select id="findStuById" parameterType="String" resultType="cn.edu.hitwh.gmember.pojo.Student">
        <![CDATA[ SELECT * from student WHERE stu_id=#{id} ]]>
    </select>

    <select id="selectAll" resultType="cn.edu.hitwh.gmember.pojo.Student">
        <![CDATA[
        SELECT *
        FROM student
        ]]>
    </select>
</mapper>